@CHARSET "UTF-8";

.content_menu{
	width: 15%;
	float: left;
}
.content_main{
	width: 80%;
	float: left;
	margin-left: 3%;
	padding: 5px;
	height: 100%;
}
.content_img{
	border: 1px #cccccc solid;
	float: left;
}
.content_Str{
	width: 100%;
	float: left;
}